name: "CI Tests"

on:
  pull_request:
  push:

jobs:
  tests:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.can-fail }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Lowest Deps
          - php: 8.2
            symfony: 5.4.*
            composer-flags: '--prefer-stable --prefer-lowest'
            can-fail: false
          # LTS with latest stable PHP
          - php: 8.2
            symfony: 5.4.*
            composer-flags: '--prefer-stable'
            can-fail: false
          - php: 8.3
            symfony: 5.4.*
            composer-flags: '--prefer-stable'
            can-fail: false
            # Stable Symfony 6 branches
          - php: 8.2
            symfony: 6.4.*
            composer-flags: '--prefer-stable'
            can-fail: false
          - php: 8.3
            symfony: 6.4.*
            composer-flags: '--prefer-stable'
            can-fail: false
          # Symfony 7 branches
          - php: 8.2
            symfony: 7.0.*
            composer-flags: '--prefer-stable'
            can-fail: false
          - php: 8.3
            symfony: 7.0.*
            composer-flags: '--prefer-stable'
            can-fail: false
          - php: 8.2
            symfony: 7.1.*
            composer-flags: '--prefer-stable'
            can-fail: false
          - php: 8.3
            symfony: 7.1.*
            composer-flags: '--prefer-stable'
            can-fail: false
          - php: 8.3
            symfony: 7.2.*
            composer-flags: '--prefer-stable'
            can-fail: false

    name: "PHP ${{ matrix.php }} - Symfony ${{ matrix.symfony }}${{ matrix.composer-flags != '' && format(' - Composer {0}', matrix.composer-flags) || '' }}"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"
        with:
          fetch-depth: 2

      - name: "Cache Composer packages"
        uses: "actions/cache@v4"
        with:
          path: "~/.composer/cache"
          key: "php-${{ matrix.php }}-symfony-${{ matrix.symfony }}-composer-${{ hashFiles('composer.json') }}-flags-${{ matrix.composer-flags }}"
          restore-keys: "php-"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ matrix.php }}"
          tools: "composer:v2,flex"

      - name: "Set Composer stability"
        if: "matrix.symfony == '6.3.*@dev'"
        run: "composer config minimum-stability dev"

      - name: "Install dependencies"
        run: "composer update ${{ matrix.composer-flags }} --prefer-dist"
        env:
          SYMFONY_REQUIRE: "${{ matrix.symfony }}"

      - name: "Run PHPUnit Tests"
        run: "composer test"
